<% content_for :title, "Welcome" %>
<% content_for :stylesheet, (stylesheet_link_tag "main") %>
<p> Hello! Not implemented yet! Tin Tin! Test! </p>
<div id="doge"> <%= image_tag("ball.gif", :alt => "doge",
    :class => "doge") %> </div>
