<% content_for :title, "Welcome" %>

<div class="banner">
  <a href="login" class="button">Log In</a>
  <a href="signup" class="button">Sign Up</a>
</div>

<h3> Welcome to Pokémon Chess</h3>

<p>
Pokémon Chess is an SRPG game based on the Pokémon series. The idea was first put forward by ggggg1_2_3 and samuelwyf as one of the activities for the 2013 Chinese Lunar New Year celebration. The game won a wide interest among the peers, but unfortunately the tournament never came to an end. The game is now digitalized with the hope that it would make the gaming process easier and more enjoyable.
</p>
<p>
In a Pokémon Chess game, two players will be fighting against each other on a 8x8 board with 6 Pokémons for each player. Each Pokémon can fight with one of the four skills chosen. The player wins the game by defeating all the six Pokémons of the opponent.
</p>
<p>
To learn more about the game or to play the actual game, please <a href="login">Log In</a> or <a href="signup">Sign Up</a> to continue.
</p>