/*
 * Referred to the following sites for CSS3 Animation:;
 * http://codepen.io/Sonick/pen/HthaI
 * http://www.cssreset.com/css3-webkit-animation-shake-links/
 */

/*
 *  Defining custom font
 */
@font-face {
  font-family: 'Trajan';
  src: asset-data-url('TrajanPro-Bold.otf') format('opentype');
}

p.error {
  color: red;
  text-align: center;
  margin-top: 5px;
}

div.form {
	font: 22px Tahoma;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #cc6600;
}

.banner {
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  clear: both;
}

p.right {
	margin-top: 0px;
  float: right;
}

p.left {
	margin-top: 0px;
  float: left;
}


div.header {
  color: white;
  -webkit-animation: blurFadeIn 3s ease-in backwards;
  -moz-animation: blurFadeIn 3s ease-in backwards;
  -ms-animation: blurFadeIn 3s ease-in backwards;
  animation: blurFadeIn 3s ease-in backwards;
}

#header_txt {
  font: 120px Trajan;
  text-shadow: 6px 6px #333333;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

#author_txt {
  font: 60px Trajan;
  text-shadow: 3px 3px #333333;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}

#walker:hover {
  cursor: pointer;
}

img.doge:hover {
  content: asset-data-url('doge-rotate.gif');
  cursor: pointer;
}

img.doge {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#doge {
  -webkit-animation: blurFadeIn 3s ease-in backwards;
  -moz-animation: blurFadeIn 3s ease-in backwards;
  -ms-animation: blurFadeIn 3s ease-in backwards;
  animation: blurFadeIn 3s ease-in backwards;
}

#header_bg {
  position:fixed;
  white-space: nowrap;
  top: 0px;
  left: 500px;
  display:block;
  background: #FFFFFF;
  height: 400px;
  z-index: -3;
}

p {
  font: 22px Tahoma;
  font-weight: bold;
}


#walker {
  position: fixed;
  white-space: nowrap;
  z-index: 999;
}

#cat {
  position: absolute;
  bottom: -30px;
  left: 20px;
}

#section {
  position: relative;
  background: #ffffff;
  width: 600px;
  margin: auto;
  max-width: 250%;
  min-width: 50%;
  border: 15px solid #777777;
  border-radius: 25px;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

body {
  background: #151515;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  text-align: center;
}

/*
 * Animations Beyond this point.
 */

@-webkit-keyframes blurFadeIn{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.5);
  }
  50%{
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.1);
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes blurFadeIn{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -moz-transform: scale(1.5);
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -moz-transform: scale(1);
  }
}

@keyframes blurFadeIn{
  0%{
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(1.5);
  }
  50%{
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}